apiVersion: devops.alauda.io/v1alpha1
kind: ClusterPipelineTaskTemplate
metadata:
  name: docker-buildx
  annotations:
    displayName.zh-CN: Docker Buildx
    displayName.en: Docker Buildx
    description.zh-CN: Docker Buildx
    description.en: Docker Buildx
    readme.zh-CN: Docker Buildx
    readme.en: Docker Buildx
    version: "0.0.63"
    style.icon: "docker"
  labels:
    category: DockerBuild
spec:
  engine: gotpl
  body: |+
    dir(RELATIVE_DIRECTORY) {
      script {
        def dockerfilePath = """ {{.dockerfile}} """
        def buildContext = """ {{.context}} """ ?: "."

        def buildArgsWithComma = """ {{.buildArgs}} """.trim()
        def buildArgs = buildArgsWithComma.split(",")
        def buildOptions = """{{.buildOptions}}""".trim()


        def credentialId = "{{ .imageRepository.credentialId }}"
        def sourceCredentialId = "{{ .sourceImageRepository.credentialId }}"
        def retryCount = {{ if .retry }}{{ .retry }}{{else}}0{{end}}


        def labelWithComma = """ {{.labels}} """.trim()
        def labels = []
        if (labelWithComma != "" ){
          for (val in labelWithComma.split(",")) {
            labels.add(val.trim())
          }
        }
        def builder = """ {{.builderInstance}} """
        def platform = "{{.platform}}"?:"linux/amd64,linux/arm64"

        def sourcerepositoryAddr = '{{.sourceImageRepository.repositoryPath}}'.replace("http://","").replace("https://","")
        def repositoryAddr = '{{.imageRepository.repositoryPath}}'.replace("http://","").replace("https://","")

        def tagWithComma = """ {{.imageRepository.tag}} """
        def tags = []
        for (val in tagWithComma.split(",")) {
          tags.add(val.trim())
        }
        // automatically adds version related information
        // to our docker arguments
        if (env.VERSION) {
          tags.add("${env.VERSION}" as String)
          labels.add("version=${env.VERSION}" as String)
        }
        if (env.GIT_BRANCH) {
          def branchValue = env.GIT_BRANCH.replaceFirst("origin/","")
          labels.add("branch=${branchValue}" as String)
        }
        if (env.GIT_COMMIT) {
          labels.add("commit=${env.GIT_COMMIT}")
        }
        if (!tags) {
          tags.add("latest")
        }

        // save build data for report
        def buildImages = []
        container('tools') {

          retry(retryCount){
            sh script: '''
            #!/bin/bash
            version=$(docker buildx version)
            echo "$version"
            curl -OL https://build-nexus.alauda.cn/repository/alauda/buildx/setup_buildx.sh && chmod +x setup_buildx.sh && ./setup_buildx.sh
            docker buildx ls
            ''', label: "making sure docker buildx config is correct"
          }
          if (tags) {
            tags.each { ittag ->
                def command = "docker buildx build -f ${dockerfilePath} --progress auto --push --platform=${platform} "

                if (buildArgsWithComma != "" ) {
                  buildArgs.each { itargs ->
                    command += """ --build-arg ${itargs} """
                  }
                }
                if (buildOptions != "") {
                  command += """ ${buildOptions} """
                }
                if (labels.size() > 0 ) {
                  labels.each { itlabels ->
                    command += """ --label ${itlabels} """
                  }
                }
                if (builder) {
                  command += """ --builder ${builder} """
                }
                command += """ ${buildContext} """


                command += """ -t ${repositoryAddr}:${ittag} """
                buildImages.add("${repositoryAddr}:${ittag}" as String)

                if (sourcerepositoryAddr != "" ){
                  withCredentials([usernamePassword(credentialsId: sourceCredentialId, usernameVariable: "USERNAME", passwordVariable: "PASSWORD")]){
                      if ( sourcerepositoryAddr == 'index.docker.io' ) {
                         sourcerepositoryAddr = ""
                       }
                      writeFile file: 'source-docker-password', text: PASSWORD
                      sh "cat source-docker-password | docker login ${sourcerepositoryAddr} -u ${USERNAME} --password-stdin"
                  }
                }

                withCredentials([usernamePassword(credentialsId: credentialId, usernameVariable: "USERNAME", passwordVariable: "PASSWORD")]){
                    if ( repositoryAddr == 'index.docker.io' ) {
                       repositoryAddr = ""
                     }
                     writeFile file: 'docker-password', text: PASSWORD
                     sh "cat docker-password | docker login ${repositoryAddr} -u ${USERNAME} --password-stdin"
                }

                retry(retryCount) {
                  sh script: command, label: command
                }

            }
          }

          alaudaPipeline.appendInfo(STAGE_NAME, [build_image: buildImages], '_Docker')

        }
      }
    }
  exports:
    - name: DOCKER_IMAGE
      description:
        zh-CN: "Docker image"
        en: "Docker image"
  arguments:
    - name: "sourceImageRepository"
      schema:
        type: alauda.io/dockerimagerepositorymix
      required: false
      display:
        type: alauda.io/dockerimagerepositorymix
        name:
          zh-CN: "源镜像仓库"
          en: Source Repository
        description:
          zh-CN: "当 Dockerfile 中源镜像为私有镜像，可在这里设置用户名密码"
          en: "you can set username and password when the base image in Dockerfile is from private image registry"
    - name: "imageRepository"
      schema:
        type: alauda.io/dockerimagerepositorymix
      required: true
      display:
        type: alauda.io/dockerimagerepositorymix
        name:
          zh-CN: "镜像仓库"
          en: Repository
        description:
          zh-CN: "选择或者输入镜像仓库"
          en: ""
    - name: "dockerfile"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "Dockerfile"
          en: "Dockerfile"
        description:
          zh-CN: "Dockerfile 在代码仓库中的绝对路径"
          en: ""
      required: true
      default: 'Dockerfile'
    - name: "context"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "构建上下文"
          en: "Build Context"
        description:
          zh-CN: "构建过程可以引用上下文中的任何文件。例如，构建中可以使用 COPY 命令在上下文中引用文件"
          en: "The build process can refer to any of the files in the context. For example, your build can use a COPY instruction to reference a file in the context"
      required: false
      default: '.'
    - name: "buildArgs"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "构建参数"
          en: "Build Arguments"
        description:
          zh-CN: "自定义--build-arg，用逗号增加多条，如 commit_id=abc,version=v1.3"
          en: ""
      required: false
      default: ''
    - name: "labels"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "Docker label"
          en: "Docker label"
        description:
          zh-CN: "自定义label，用逗号增加多条，如 commit_id=abc,version=v1.3"
          en: ""
      required: false
      default: ''
    - name: "builderInstance"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "Buildx builder实例"
          en: "Docker builder instance"
        description:
          zh-CN: ""
          en: ""
      required: false
      default: "builder"
    - name: "platform"
      schema:
        type: string
        enum:  # 默认下拉展示该部分内容
        - "linux/amd64,linux/arm64"
        - "linux/amd64"
        - "linux/arm64"
      display:
        type: select
        name:
          zh-CN: "构建镜像架构"
          en: "Build image arch"
        description:
          zh-CN: "构建镜像架构选择，--platform 参数"
          en: "Build image architectures as --platform flag"
        enumAlias:  # 如果含有该项，则展示 改部分内容，值与schema.enum一一对应
        - "amd64 + arm64"
        - "amd64"
        - "arm64"
      required: false
      default: 'linux/amd64,linux/arm64'
    - name: "retry"
      schema:
        type: string
      display:
        type: string
        advanced: true
        name:
          zh-CN: "重试次数"
          en: "Retry Times"
        description:
          zh-CN: "生成镜像时的失败重试次数"
          en: ""
      required: false
      default: "3"
    - name: "buildOptions"
      schema:
        type: string
      display:
        type: string
        advanced: true
        name:
          zh-CN: "构建选项(Build Options)"
          en: "Build Options"
        description:
          zh-CN: "自定义build options, 例如 --network host --pull 这些配置会自动增加到 docker buildx build 的options中"
          en: "build options, eg. --network host --pull  thease options will append on `docker buildx build`"
      required: false
      default: ''
  dependencies:
    plugins:
      - name: workflow-basic-steps
        version: "2.9"
      - name: docker-workflow
        version: "1.17"
  view:
    markdown: |-
      {{ if eq $item.type "_Docker"}}
      ## {{$item.name}}

      | Name | Value |
      | :--- | :---- |
      {{- range $index, $v := $item.value.build_image }}
      | 镜像地址 | {{$v}} |
      {{- end}}

      {{ end}}
