apiVersion: devops.alauda.io/v1alpha1
kind: ClusterPipelineTaskTemplate
metadata:
  name: code-security-scan-golang
  annotations:
    displayName.zh-CN: golang 代码安全扫描
    displayName.en: Golang Code Security scan
    description.zh-CN: 执行 golang 安全扫描
    description.en: Runs a golang code security scan
    readme.zh-CN: 执行 golang 代码安全扫描，生成一个扫描结果。这个结果可以应用于代码扫描中，并整合到 sonarqube 和代码扫描结果一起展示，生成的结果名字为 golang - gosec-scan.log
    readme.en: Perform a golang code security scan and generate a scan result. This result can be applied to code scanning and integrated into sonarqube and displayed together with the code scanning result, the generated The result name is golang-gosec-scan.log
    version: "0.0.12"
    style.icon: ""
  labels:
    category: Quality
spec:
  engine: gotpl
  body: |+
    dir(RELATIVE_DIRECTORY) {
      script {
        def containerName = "{{.containerName}}"
        def block = {{.block}}
        def scanMod = "{{.scanMod}}"
        def customOpts = """{{.customOpts}}"""

        def success = "false"
        def cmd = '$GOPATH/bin/gosec -fmt sonarqube'
        def sonarParam = ''
        try {
          container(containerName) {
            // Install gosec
            sh label: "download gosec from nexus", script: 'curl -OL https://build-nexus.alauda.cn/repository/third-party/gosec/gosec'
            sh label: "checking gosec binary", script: 'chmod +x gosec && mv gosec $GOPATH/bin/gosec && $GOPATH/bin/gosec --help'
          }

          // Execute scan
          def scanDir = './...'
          def opts = ''
          def fileName = "gosec-scan.log"
          
          if (customOpts != '' && customOpts != null) {
            opts = customOpts
            scanDir = '' // Directory included in user-defined parameters
          } else {
            switch (scanMod.toInteger()) {
            case 1:
              // Run at the basic level
              opts = '-include=G101,G203,G401'
              break;
            case 2:
              // Run at the high level
              opts = '-exclude=G303'
              break;
            case 3:
              // Run at the highest level
              opts = ''
              break;
            default:
              // Run at the high level, same as 1
              opts = '-include=G101,G203,G401'
            }
          }
          cmd = cmd + ' ' + opts + ' ' + scanDir
          if (!block) {
            cmd = cmd + ' | tee ' +
            fileName // add to file
          } else {
            cmd = cmd + ' > ' +
              fileName // add to file
          }

          try {
            container(containerName) {
              sh encoding: 'UTF-8', label: 'sec scan', script: cmd
            }
            success = "true"
          } finally {
            sh label: 'sec result', script: 'cat ' + fileName + '|| echo "" > ' + fileName
            container("tools") {
              sh encoding: 'UTF-8', label: 'make sec bug url', script: "jq '{ issues: [.issues[]  | .cwe.URL as \$url | .ruleId as \$id | .ruleId = \"[\" + \$id + \"](\" + \$url + \")\"]}' " + fileName + ' > ' + fileName + '.bak' + ' && mv ' + fileName + '.bak ' + fileName
            }
            if (!block) {
              sh encoding: 'UTF-8', label: 'not blocker', script: 'cat ' + fileName + ' | sed -e \'s/"severity": "BLOCKER"/"severity": "MINOR"/g\' -e \'s/"severity": "CRITICAL"/"severity": "MINOR"/g\' -e \'s/"severity": "MAJOR"/"severity": "MINOR"/g\' > ' + fileName + '.bak && mv ' + fileName + '.bak ' + fileName
            }
          }
          sonarParam = 'sonar.externalIssuesReportPaths=' + fileName
        } finally {
          alaudaPipeline.appendInfo(STAGE_NAME, [cmd: cmd as String, success: success as String, sonarParam: sonarParam as String], '_SecScan')
        }
      }
    }
  exports:
    - name: SEC_SCAN_GOLANG
      description:
        zh-CN: "golang 安全扫描结果"
        en: "Golang Security scan Result"
  arguments:
    - name: "containerName"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "自定义容器名称"
          en: "Custom container name"
        description:
          zh-CN: "自定义容器名称，这个容器名称要存在于构建节点。默认为 golang"
          en: "Custom container name, This container name must exist in the build node. default is golang"
      required: False
      default: "golang"
    - name: "block"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "此扫描结果是否阻塞流水线"
          en: "Does this scan result block the pipeline"
        description:
          zh-CN: "如果设置True，扫描如果出现较高级别的问题，则流水线执行失败。False则不失败"
          en: "If set to True, if a higher-level problem occurs during scanning, the pipeline execution fails. False does not fail"
      required: False
      default: False
    - name: "scanMod"
      schema:
        type: string
        enum:
          - "1"
          - "2"
          - "3"
      display:
        type: select
        enumAlias:
          - "标准"
          - "中级"
          - "严格"
        name:
          zh-CN: "预置扫描的级别"
          en: "Preset scan level"
        description:
          zh-CN: "预置3个扫描级别，1、2、3 级别逐渐升高"
          en: "3 preset scan levels, 1, 2, and 3 levels gradually increase"
      required: False
      default: "1"
    - name: "customOpts"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "自定义扫描参数"
          en: "Custom scan parameters"
        description:
          zh-CN: "自定义扫描参数，要包括扫描路径，如果这个参数和scanMod同时设置，此字段生效"
          en: "Custom scan parameters, including scan path, if this parameter and scanMod are set at the same time, this field will take effect"
      required: False
      default: ""

  view:
    markdown: |-
      {{ if eq $item.type "_SecScan"}}
      ## {{$item.name}}

      | Name | Value |
      | :--- | :---- |
      | 扫描命令| {{$item.value.cmd}} |
      | 扫描是否成功 | {{$item.value.success}} |
      | sonarqube 参数 | {{$item.value.sonarParam}} |

      {{ end}}
