apiVersion: devops.alauda.io/v1alpha1
kind: ClusterPipelineTaskTemplate
metadata:
  name: golang-build
  annotations:
    displayName.zh-CN: Golang构建组件
    displayName.en: Golang Build Compose
    description.zh-CN: 构建Golang程序组件
    description.en: Build a Golang projec composet
    readme.zh-CN: 构建Golang程序，预置一些常用的设置，同时支持用户自由制定。
    readme.en: Build Golang program, preset some commonly used settings, and support users to freely formulate.
    version: "0.0.54"
    style.icon: ""
  labels:
    category: Build
spec:
  engine: gotpl
  body: |+
    script {
      def golangContainer = "golang"

      def enableGomod = {{ .enableGomod }}
      def enableCGO = {{ .enableCGO }}
      def goArch = "{{ .goArch }}"
      def goOs = "{{ .goOS }}"
      def setGoNoSumDB = {{ .setGoNoSumDB }}
      def setGoProxy = {{ .setGoProxy }}

      // Set goBuildEnv
      def gomod='on'
      if (!enableGomod) {
        gomod='off'
        env.GOPATH = WORKSPACE
      }

      def cgoEnabled = 0
      if (enableCGO) {
        cgoEnabled = 1
      }

      def goNoSumDB = "bitbucket.org/mathildetech/*,gomod.alauda.cn/*"
      if (!setGoNoSumDB) {
        goNoSumDB = ""
      }

      def goProxy = "https://goproxy.cn,https://athens.alauda.cn,direct"
      if (!setGoProxy) {
        goProxy = ""
      }

      env.CGO_ENABLED = cgoEnabled
      env.GOARCH = goArch
      env.GOOS = goOs
      env.GO111MODULE = gomod
      env.GONOSUMDB = goNoSumDB
      env.GOPROXY = goProxy
      env.GOFLAGS = "-p=4"
      def envString = """__=__ # placeholder
        {{.buildEnv}}
      """

      def envs = ''
      for (str in envString.split('\n')) {
        str = str.trim()
        if (str.length() == 0 || str[0] == '#') {
          continue
        }
        def kvpair = str.split('=')
        if (kvpair.size() < 2) {
          continue
        }
        str = kvpair[0].trim() + '=' + kvpair[1].trim()
        for (k = 2; k < kvpair.size(); k++) {
          str = str + '=' + kvpair[k]
        }
        envs = envs + '\n' + str
      }
      withEnv(envs.trim().split('\n') as List) {
        if (env.RELATIVE_DIRECTORY) {
          dir(env.RELATIVE_DIRECTORY) {
            container(golangContainer) {
              sh """
              {{.buildCommand}}
              """
            }
          }
        } else {
          container(golangContainer) {
            sh """
            {{.buildCommand}}
            """
          }
        }
      }
    }
  arguments:
    - name: "enableGomod"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "是否开启go mod"
          en: "Whether to open go mod"
        description:
          zh-CN: "编译时是否开启GO MOD。即设置 GO111MODULE=on 或 GO111MODULE=off，默认为 GO111MODULE=on"
          en: "Whether to enable GO MOD when compiling. That is, set GO111MODULE=on or GO111MODULE=off, default is GO111MODULE=on"
      required: False
      default: True
    - name: "enableCGO"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "是否开启cgo"
          en: "Whether to open cgo"
        description:
          zh-CN: "编译时是否开启CGO。即设置 CGO_ENABLED=1 或 CGO_ENABLED=0，默认为 CGO_ENABLED=0"
          en: "Whether to enable CGO when compiling. That is, set CGO_ENABLED=1 or CGO_ENABLED=0, default is CGO_ENABLED=0"
      required: False
      default: False
    - name: "goArch"
      schema:
        type: string
        enum:
          - "amd64"
          - "arm64"
      display:
        type: select
        enumAlias:
          - "amd64"
          - "arm64"
        name:
          zh-CN: "选择系统的arch"
          en: "select a system arch"
        description:
          zh-CN: "编译的目标运行的系统架构，默认为 amd64"
          en: "The system architecture of the compiled target. defaul is 'amd64'"
      required: False
      default: "amd64"
    - name: "goOS"
      schema:
        type: string
        enum:
          - "linux"
      display:
        type: select
        enumAlias:
          - "linux"
        name:
          zh-CN: "选择系统的OS"
          en: "select a system os"
        description:
          zh-CN: "编译的目标运行的操作系统，默认为 linux"
          en: "The operating system that the compiled target runs, default is 'linux'"
      required: False
      default: "linux"
    - name: "setGoNoSumDB"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "是否设置GONOSUMDB"
          en: "Whether to set GONOSUMDB"
        description:
          zh-CN: "是否设置GONOSUMDB，如果设置，将设置为 bitbucket.org/mathildetech/*,gomod.alauda.cn/*"
          en: "Whether to set GONOSUMDB, if set, it will be set to bitbucket.org/mathildetech/*,gomod.alauda.cn/*"
      required: False
      default: True
    - name: "setGoProxy"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "是否设置 GOPROXY"
          en: "Whether to set GOPROXY"
        description:
          zh-CN: "是否设置 GOPROXY，如果设置，将设置为 https://goproxy.cn,https://athens.alauda.cn,direct"
          en: "Whether to set GOPROXY, if set, it will be set to https://goproxy.cn,https://athens.alauda.cn,direct"
      required: False
      default: True
    - name: "buildEnv"
      schema:
        type: string
      display:
        type: code
        name:
          zh-CN: "自定义环境变量"
          en: "Custom environment variables"
        description:
          zh-CN: |
            自定义更多的环境变量。
            格式为：
              XXKey1 = XXValue1
              XXKey2 = XXValue2
          en: ｜
            Customize more environment variables
            The format is
            XXKey1=XXValue1
            XXKey2=XXValue2
      required: false
      default: ''
    - name: "buildCommand"
      schema:
        type: string
      display:
        type: code
        name:
          zh-CN: "编译命令"
          en: "Compile command"
        description:
          zh-CN: |
            编译命令，默认为
            go build
            如果命令中使用环境变量，需要用{}括起来，例如${variable}
          en: ｜
            Compile command, the default is
            go build .
            If environment variables are used in the command, they need to be enclosed in {}, such as ${variable}
      required: false
      default: 'go build'
