apiVersion: devops.alauda.io/v1alpha1
kind: ClusterPipelineTaskTemplate
metadata:
  name: image-exec-shell
  annotations:
    displayName.zh-CN: 镜像shell脚本
    displayName.en: image exec shell
    description.zh-CN: 指定镜像，在容器内执行shell脚本
    description.en: Specify the image and execute the shell script in the container
    readme.zh-CN: 指定一个镜像，启动容器，在容器内执行shell脚本
    readme.en: Specify an image, start the container, and execute the shell script in the container
    version: "0.0.1"
    style.icon: "docker"
  labels:
    category: Scripting
spec:
  engine: gotpl
  body: |+
    script {
        def containerName = " {{.container}} ".trim()
        def shellScript = """ {{.shellScript}} """.trim()
        def credentialId = "{{ .imageRepository.credentialId }}".trim()
        def repositoryAddr = '{{.imageRepository.repositoryPath}}'.replace("http://","").replace("https://","")
        def tagWithComma = """ {{.imageRepository.tag}} """
        def tag = tagWithComma.trim()
        repositoryAddr = repositoryAddr.trim()
        def FULL_ADDRESS = "${repositoryAddr}:${tag}"
        if (!containerName) {
            error "container name must be provided"
        }
        container(containerName) {
            withCredentials([usernamePassword(credentialsId: credentialId, usernameVariable: "USERNAME", passwordVariable: "PASSWORD")]){
                if ( repositoryAddr == 'index.docker.io' ) {
                    repositoryAddr = ""
                }
                writeFile file: 'docker-password', text: PASSWORD
                sh "cat docker-password | docker login ${repositoryAddr} -u ${USERNAME} --password-stdin"
            }
            {{- if .activelyPullTheImage}}
              retry(3) {    
                  try {
                      sh script: "docker pull ${FULL_ADDRESS}", label: "docker pull ${FULL_ADDRESS}"
                  } catch (Exception exc) {
                      sleep(5)
                      throw exc
                  }
              }
            {{- end}}
            withDockerContainer(FULL_ADDRESS) {
                sh script: shellScript, label: shellScript
            }
        }
    }
  arguments:
    - name: "container"
      schema:
        type: string
      display:
        type: string
        advanced: true
        name:
          zh-CN: "容器名称"
          en: "container name"
        description:
          zh-CN: "指定pod内具体容器来执行脚本"
          en: "specifies specific container in pod to run the script"
      required: true
      default: 'tools'
    - name: "imageRepository"
      schema:
        type: alauda.io/dockerimagerepositorymix
      required: true
      display:
        type: alauda.io/dockerimagerepositorymix
        name:
          zh-CN: "镜像仓库"
          en: Repository
        description:
          zh-CN: "选择或者输入镜像仓库"
          en: ""
    - name: "activelyPullTheImage"
      schema:
        type: boolean
      display:
        type: boolean
        advanced: true
        name:
          zh-CN: "预先拉取镜像"
          en: "First pull image"
        description:
          zh-CN: "预先拉取镜像，避免失败"
          en: "Pull the image in advance to avoid execution failure"
      require: true
      default: "true"
    - name: "shellScript"
      schema:
        type: string
      display:
        type: code
        name:
          zh-CN: "shell脚本"
          en: "shell script"
        description:
          zh-CN: "执行的shell脚本"
          en: "shell script to execute"
      required: true
      default: ''
  dependencies:
    plugins:
      - name: workflow-basic-steps
        version: "2.9"